In [28]:
#import dependancies
import pandas as pd
import numpy as np
from config import dbConnectionString
from sqlalchemy import create_engine
engine = create_engine(dbConnectionString)

In [9]:
#load in data
heart_df = pd.read_csv('heart.csv')
cancer_df = pd.read_csv('cancer.csv')
accidents_df = pd.read_csv('accidents.csv')
stroke_df = pd.read_csv('stroke.csv')
copd_df = pd.read_csv('copd.csv')

In [10]:
# remove URL/DEATHS columns, add disease column, drop missing data
heart_df = heart_df.drop(columns = ['URL', 'DEATHS'])
heart_df['Disease'] = 'Cardiovascular Disease'
heart_df = heart_df.dropna()

cancer_df = cancer_df.drop(columns = ['URL', 'DEATHS'])
cancer_df['Disease'] = 'Cancer'
cancer_df = cancer_df.dropna()

accidents_df = accidents_df.drop(columns = ['URL', 'DEATHS'])
accidents_df['Disease'] = 'Accidents'
accidents_df = accidents_df.dropna()

stroke_df = stroke_df.drop(columns = ['URL', 'DEATHS'])
stroke_df['Disease'] = 'Stroke'
stroke_df = stroke_df.dropna()

copd_df = copd_df.drop(columns = ['URL', 'DEATHS'])
copd_df['Disease'] = 'Chronic Lower Respiratory Disease'
copd_df = copd_df.dropna()

In [16]:
#combine data into one dataframe
df = pd.concat([heart_df, cancer_df, accidents_df, stroke_df, copd_df], ignore_index = True)
df = df.drop(df[df.YEAR==2005].index)
df

        YEAR STATE   RATE                            Disease
0     2019.0    AL  219.6             Cardiovascular Disease
1     2019.0    AK  129.7             Cardiovascular Disease
2     2019.0    AZ  134.0             Cardiovascular Disease
3     2019.0    AR  226.5             Cardiovascular Disease
4     2019.0    CA  136.9             Cardiovascular Disease
...      ...   ...    ...                                ...
1695  2014.0    VA   35.3  Chronic Lower Respiratory Disease
1696  2014.0    WA   37.9  Chronic Lower Respiratory Disease
1697  2014.0    WV   63.0  Chronic Lower Respiratory Disease
1698  2014.0    WI   39.3  Chronic Lower Respiratory Disease
1699  2014.0    WY   55.0  Chronic Lower Respiratory Disease

[1500 rows x 4 columns]

In [17]:
#generate pivot table of mortality rates by state/disease
table = pd.pivot_table(df, values = 'RATE', columns = ['Disease'], index = ['YEAR', 'STATE'])
table

Disease       Accidents  Cancer  Cardiovascular Disease  \
YEAR   STATE
2014.0 AK          55.0   164.2                   146.6
       AL          49.3   177.6                   224.0
       AR          47.4   183.1                   217.5
       AZ          47.0   142.7                   136.4
       CA          29.2   144.1                   142.2
...                 ...     ...                     ...
2019.0 VT          56.4   150.4                   151.6
       WA          43.4   143.4                   134.8
       WI          61.1   149.6                   158.8
       WV          96.9   175.0                   197.4
       WY          63.1   138.9                   150.4

Disease       Chronic Lower Respiratory Disease  Stroke
YEAR   STATE
2014.0 AK                                  38.8    32.3
       AL                                  53.6    48.3
       AR                                  58.9    45.4
       AZ                                  42.2    28.3
       CA                                  32.0    33.9
...                                         ...     ...
2019.0 VT                                  36.9    29.7
       WA                                  33.9    35.0
       WI                                  36.7    32.3
       WV                                  62.0    40.2
       WY                                  51.7    31.7

[300 rows x 5 columns]

In [19]:
#group data by year
us_data = table.groupby('YEAR').mean()
us_data

Disease,Accidents,Cancer,Cardiovascular Disease,Chronic Lower Respiratory Disease,Stroke
YEAR,,,,,
2014.0,45.402,163.516,166.954,43.438,36.858
2015.0,48.336,161.200,168.482,44.790,37.482
2016.0,52.248,158.112,166.076,43.546,37.138
2017.0,53.866,155.042,165.510,44.266,37.456
2018.0,52.674,151.514,164.296,42.790,36.808
2019.0,54.152,149.096,163.688,41.342,36.318

In [20]:
#filter original dataframe by year 2019
df1 = df[df.YEAR==2019]
df1

        YEAR STATE   RATE                            Disease
0     2019.0    AL  219.6             Cardiovascular Disease
1     2019.0    AK  129.7             Cardiovascular Disease
2     2019.0    AZ  134.0             Cardiovascular Disease
3     2019.0    AR  226.5             Cardiovascular Disease
4     2019.0    CA  136.9             Cardiovascular Disease
...      ...   ...    ...                                ...
1445  2019.0    VA   35.8  Chronic Lower Respiratory Disease
1446  2019.0    WA   33.9  Chronic Lower Respiratory Disease
1447  2019.0    WV   62.0  Chronic Lower Respiratory Disease
1448  2019.0    WI   36.7  Chronic Lower Respiratory Disease
1449  2019.0    WY   51.7  Chronic Lower Respiratory Disease

[250 rows x 4 columns]

In [21]:
#generate mortality rate pivot table by 2019 data and states
table1 = pd.pivot_table(df1, values = 'RATE', columns = ['Disease'], index = ['YEAR', 'STATE'])
table1

Disease       Accidents  Cancer  Cardiovascular Disease  \
YEAR   STATE
2019.0 AK          62.2   146.9                   129.7
       AL          54.1   160.8                   219.6
       AR          48.0   165.7                   226.5
       AZ          58.7   131.1                   134.0
       CA          35.9   131.6                   136.9
       CO          51.9   125.9                   127.7
       CT          56.2   131.9                   143.1
       DE          73.9   151.9                   154.3
       FL          55.6   139.1                   140.1
       GA          42.2   151.4                   175.5
       HI          39.2   127.3                   120.3
       IA          42.3   150.9                   172.9
       ID          51.2   138.1                   150.7
       IL          45.0   151.9                   162.0
       IN          56.0   163.4                   178.8
       KS          48.0   153.8                   166.0
       KY          68.1   176.4                   196.4
       LA          62.3   168.1                   207.8
       MA          53.3   139.9                   127.2
       MD          36.6   144.4                   159.3
       ME          66.8   164.2                   142.4
       MI          50.0   157.1                   193.8
       MN          44.9   142.2                   116.7
       MO          61.0   159.7                   187.0
       MS          61.2   179.1                   226.7
       MT          55.4   140.9                   157.1
       NC          56.1   152.0                   154.7
       ND          45.0   140.7                   147.7
       NE          40.1   147.4                   144.9
       NH          58.8   147.4                   143.4
       NJ          49.2   136.5                   158.0
       NM          77.8   131.9                   158.2
       NV          44.1   149.0                   198.1
       NY          34.3   132.9                   166.6
       OH          67.7   163.0                   188.8
       OK          58.0   173.0                   231.4
       OR          46.1   145.0                   131.0
       PA          61.2   153.5                   172.9
       RI          56.4   153.6                   159.3
       SC          62.1   154.0                   164.0
       SD          53.3   153.4                   158.1
       TN          67.8   167.0                   202.8
       TX          39.7   141.4                   163.4
       UT          45.2   117.2                   146.5
       VA          43.8   144.9                   149.1
       VT          56.4   150.4                   151.6
       WA          43.4   143.4                   134.8
       WI          61.1   149.6                   158.8
       WV          96.9   175.0                   197.4
       WY          63.1   138.9                   150.4

Disease       Chronic Lower Respiratory Disease  Stroke
YEAR   STATE
2019.0 AK                                  30.4    34.9
       AL                                  55.6    51.5
       AR                                  60.2    40.7
       AZ                                  38.1    30.2
       CA                                  29.0    37.3
       CO                                  40.8    33.7
       CT                                  27.8    26.7
       DE                                  35.2    45.1
       FL                                  35.0    40.4
       GA                                  42.1    41.9
       HI                                  17.6    37.1
       IA                                  43.8    32.1
       ID                                  47.5    34.0
       IL                                  35.0    38.8
       IN                                  56.1    41.4
       KS                                  48.0    34.8
       KY                                  62.4    42.5
       LA                                  38.6    44.1
       MA                                  31.2    26.7
       MD                                  29.2    41.8
       ME                                  48.3    31.4
       MI                                  43.4    39.3
       MN                                  32.0    33.0
       MO                                  46.7    37.7
       MS                                  56.8    52.1
       MT                                  50.8    28.8
       NC                                  41.5    41.5
       ND                                  35.0    31.7
       NE                                  46.1    31.5
       NH                                  39.2    28.5
       NJ                                  26.3    30.3
       NM                                  40.1    33.3
       NV                                  47.3    37.9
       NY                                  27.5    23.8
       OH                                  45.9    42.2
       OK                                  62.4    38.4
       OR                                  37.9    39.5
       PA                                  34.2    35.3
       RI                                  34.0    26.9
       SC                                  43.1    42.2
       SD                                  45.1    32.2
       TN                                  53.2    41.8
       TX                                  38.6    39.0
       UT                                  31.1    34.7
       VA                                  35.8    38.3
       VT                                  36.9    29.7
       WA                                  33.9    35.0
       WI                                  36.7    32.3
       WV                                  62.0    40.2
       WY                                  51.7    31.7

In [23]:
state_2019 = table1

In [25]:
#load data into database
state_2019.to_sql('state_2019',engine, if_exists="replace")

In [26]:
#load data into database
table.to_sql('us_diseases',engine, if_exists="replace")

In [29]:
#load data into database
df1.to_sql('2019_diseases',engine, if_exists="replace")